[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==2.0.7"
social-auth-app-django = "==2.1.0"
django-ckeditor = "==5.6.1"
djangorestframework = "==3.8.2"
channels = "==2.1.6"
channels-redis = "==2.2.1"
psycopg2 = "==2.7.6"
pillow = "==5.2.0"


[dev-packages]

[requires]
python_version = "3.7"
