

#particles {
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: -2;
}
/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html {
  /*background-color: #2b542c;*/
  /*box-shadow: inset 2px 20px 20px 0 rgba(0,0,0,5);*/
}
body {
  color: #fff;
  text-align: left;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  background-color: #2b542c;
  /*box-shadow: inset 0 0 100px rgba(0,0,0,.5);*/
  height: 100%;
}

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

.navbar{
  margin: 20px;
  border: none;
  border-radius: 5px;
  background: rgba(0,0,0, 0.4);
}

input{
  color: #000;
}

.container{
  border: solid 10px rgba(100,100,100, 0.5);
  border-radius: 5px;
  margin: 20px auto;
  padding: 5px;
  background: rgba(0, 1, 2, 0.5);
}