{% extends 'base.html' %}

{% load static %}


{% block ang %}ng-app="App"{% endblock %}



{% block title %}{{ note.title }}{% endblock %}


{% block extrahead %}

    {#    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>#}
    <script type="text/javascript" src="{% static 'js/lib/angular.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/angular-resource.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
    <script type="text/ng-template" id="Tree">
        <div>
            <div>
                <p class="rubric">{$ item.date_create | date:'yyyy-MM-dd HH:mm' $} </p>
                <p class="code-featured"><strong>{$ item.owner.username $}</strong> прокомментировал </p>
                <p class="code"><strong>{$ item.title $}</strong><br>{$ item.text $}</p>
                <p><a ng-click="showBlock = ! showBlock" style="cursor: pointer;">Ответить
                </a></p>
            </div>
            {% if user.is_authenticated %}
                <div class="container" ng-show="showBlock">
                    <div class="form-group">
                        <input type="text" required ng-model="currentItem.title" class="form-control"
                               placeholder="Title">
                    </div>
                    <div class="form-group">
                        <textarea required ng-model="currentItem.text" class="form-control"
                                  placeholder="Text"></textarea>
                    </div>
                    <a type="submit" class="pull-left" style="cursor: pointer;"
                       ng-click="create(currentItem, item.id)">Отправить</a>
                </div>
            {% else %}
                <div class="alert alert-success" ng-show="showBlock">
                    <p>Чтобы ответить на комментарий, который оставил <strong>{$ item.owner.username $}</strong>, <a href="{% url 'login' %}" target="_blank">залогиньтесь</a></p>
                </div>
            {% endif %}
            <div ng-if="item.child_set" style="padding-left:10px; border-left: solid 1px rgba(200, 200, 200, 1);">
                <div ng-repeat="item in item.child_set" ng-include="'Tree'"></div>
            </div>
        </div>
    </script>
{% endblock %}


{% block content %}

    <div class="main col-sm-10" ng-controller="defaultCtrl">
        <div class="container">
            <div class="rubric">
                <p>
                    <b>Дата: {{ note.date_create|date:"d.m.Y" }}</b>;
                    <b>Рубрика: <a href="{% url 'rubric' note.rubric %}">{{ note.rubric }}</a></b>;
                </p>
            </div>
            <h3>{{ note.title }}</h3>
            {{ note.text|safe }}
        </div>

        <div class="container">
            <div class="container">
                <p>Добавить новый комментарий</p>
                <div>
                    <div class="form-group">
                        <input type="text" required ng-model="currentItem.title" class="form-control"
                               placeholder="Title">
                    </div>
                    <div class="form-group">
                        <textarea required ng-model="currentItem.text" class="form-control"
                                  placeholder="Text"></textarea>
                    </div>
                    {% if user.is_authenticated %}
                        <a type="submit" class="pull-left" style="cursor: pointer;" ng-click="create(currentItem)">
                            Отправить</a>
                    {% else %}

                        <a ng-click="show = ! show" style="cursor: pointer;">Отправить</a>

                    {% endif %}
                </div>
            </div>

            <div ng-show="show">
                <div class="alert alert-success ">
                    <p>Чтобы отправить комментарий, <a href="{% url 'login' %}" target="_blank">залогиньтесь</a></p>
                </div>
            </div>


            <div ng-if="items.length > 0">
                <div ng-repeat="item in items | orderBy: '-date_create' track by $index" ng-include="'Tree'"></div>
            </div>

        </div>
    </div>
{% endblock %}