{% extends 'base.html' %}

{% load static %}


{% block ang %}ng-app="App"{% endblock %}



{% block title %}{{ note.title }}{% endblock %}


{% block extrahead %}

    {#    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>#}
    <script type="text/javascript" src="{% static 'js/lib/angular.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/angular-resource.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>

{% endblock %}


{% block content %}

    <div class="main col-sm-10 ng-cloak" ng-controller="defaultCtrl">

        <div class="container">
            <div class="rubric">
                <p>
                    <b>Дата: {{ note.date_create|date:"d.m.Y" }}</b>;
                    <b>Рубрика: <a href="{% url 'rubric' note.rubric %}">{{ note.rubric }}</a></b>;
                </p>
            </div>
            <h3>{{ note.title }}</h3>
            {{ note.text|safe }}
        </div>

        <div class="container">
            <div class="container">
                <p>Добавить новый комментарий</p>
                <div>
                    <div class="form-group">
                        <input type="text" required ng-model="currentItem.title" class="form-control"
                               placeholder="Title">
                    </div>
                    <div class="form-group">
                        <textarea required ng-model="currentItem.text" class="form-control"
                                  placeholder="Text"></textarea>
                    </div>
                    {% if user.is_authenticated %}
                        <a type="submit" class="pull-left" style="cursor: pointer;" ng-click="create(currentItem)">
                            Отправить</a>
                    {% else %}

                        <a ng-click="show = !show" style="cursor: pointer;">Отправить</a>

                    {% endif %}
                </div>
            </div>

            <div ng-show="show">
                <div class="alert alert-danger ">
                    <p>Чтобы отправить комментарий, <a href="{% url 'login' %}" target="_blank">необходимо
                        авторизоваться</a></p>
                </div>
            </div>
            <div ng-repeat="item in items track by $index" style="padding-left: 10px">
                <div ng-style="{ 'padding-left': (item.path.length - 2) * 20 } ">
                    <p class="rubric">{$ item.date_create | date:'yyyy-MM-dd HH:mm' $} </p>
                    <p class="code-featured" ng-if="item.path.length > 2"><strong>{$ item.owner.username $}</strong>
                        прокомментировал <strong>{$ items[$index -1].owner.username $}</strong></p>
                    <p class="code-featured" ng-if="item.path.length == 2"><strong>{$ item.owner.username $}</strong>
                        оставил комментарий к записе </p>
                    <p class="code"><strong>{$ item.title $}</strong><br>{$ item.text $}</p>
                    <p class="float-right"><a ng-click="showBlock = ! showBlock" style="cursor: pointer;">Ответить
                    </a></p>
                    {% if user.is_authenticated %}
                        <div class="container" ng-show="showBlock">
                            <div class="form-group">
                                <input type="text" required ng-model="currentItem.title" class="form-control"
                                       placeholder="Title">
                            </div>
                            <div class="form-group">
                                <textarea required ng-model="currentItem.text" class="form-control"
                                          placeholder="Text"></textarea>
                            </div>
                            <a type="submit" class="pull-left" style="cursor: pointer;"
                               ng-click="create(currentItem, item.id)">Отправить</a>
                        </div>
                    {% else %}
                        <div class="alert alert-danger" ng-show="showBlock">
                            <p>Чтобы ответить на комментарий, который оставил <strong>{$ item.owner.username $}</strong>,
                                <a href="{% url 'login' %}" target="_blank"> необходимо авторизоваться</a></p>
                        </div>
                    {% endif %}
                    <hr>
                </div>
            </div>

        </div>
    </div>
{% endblock %}