{% extends 'base.html' %}

{% load static %}


{% block ang %}ng-app="App"{% endblock %}



{% block title %}{{ note.title }}{% endblock %}


{% block extrahead %}

    {#    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>#}
    <script type="text/javascript" src="{% static 'js/lib/angular.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/angular-resource.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
{% endblock %}


{% block content %}

    <div class="main col-sm-10" ng-controller="defaultCtrl">
        <div class="container">
            <div class="rubric">
                <p>
                    <b>Дата: {{ note.date_create|date:"d.m.Y" }}</b>;
                    <b>Рубрика: <a href="{% url 'rubric' note.rubric %}">{{ note.rubric }}</a></b>;
                </p>
            </div>
            <h3>{{ note.title }}</h3>
            {{ note.text|safe }}
        </div>
        {% if user.is_authenticated %}
            <div class="container">
                <p>Оставьте комментарий</p>
                <div>
                    <div class="form-group">
                        <input type="text" required ng-model="currentItem.title" class="form-control"
                               placeholder="Title">
                    </div>
                    <div class="form-group">
                        <textarea required ng-model="currentItem.text" class="form-control"
                                  placeholder="Text"></textarea>
                    </div>
                    <button type="submit" class="btn btn-success pull-left" ng-click="create(currentItem)">Отправить
                    </button>
                </div>
            </div>
        {% else %}

            <div class="alert alert-info alert-dismissible " role="alert">
                <p>Чтобы оставить комментарий к записе, залогиньтесь</p>
            </div>

        {% endif %}

        <div>
            <div ng-repeat="item in items track by $index">
                <div class="container">
                    <p class="rubric">{$ item.date_create | date:'yyyy-MM-dd HH:mm' $} </p>
                    <p><strong>{$ item.owner $}</strong> оставил комментарий </p>
                    <p class="code"><strong>{$ item.title $}</strong><br>{$ item.text $}</p>
                </div>
            </div>

        </div>
    </div>
{% endblock %}