<!DOCTYPE html>
{% load static %}
<html ng-app="app">
<head>
    <title>JS/Django/Bootstrap/JQuery</title>
    <meta charset="utf-8">
{#    <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}/favicon.ico"/>#}
    <!-- deploy static -->
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">#}
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>#}
{#    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>#}
{#    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>#}
{#    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular-route.js"></script>#}
    <!-- local dev static -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}">
    <script type="text/javascript" src="{% static 'js/lib/jquery-3.1.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/bootstrap.js' %}"></script>
    <script src="{% static 'js/lib/angular-1.2.32.js' %}"></script>
    <script src="{% static 'js/lib/angular-route.js' %}"></script>
    <!-- personal static -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
</head>
<body >
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                <a class="navbar-brand" href="/">Portfolio</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar" ng-controller="jsonAbout">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li ><a href="" ng-click="toServer()">About</a></li>
                    <li><a href="/gallery">Gallery</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
<div id="particles"></div>
{% block content %}{% endblock %}

</body>
</html>