{% extends 'base.html' %}


{% block contact %}active{% endblock %}


{% block content %}
    <div class="main col-sm-10">
        <div class="container">
            <p>
                Вы можете оставить свой отзыв или свое пожелания относительно данного сайта.
                Заполните ниже форму.
            </p>
            <form  name="form"  method="post" action="{% url 'contact' %}">{% csrf_token %}
                <div class="form-group">
                    {{ form.theme }}
                </div>
                <div class="form-group">
                    {{ form.from_email }}
                </div>
                <div class="form-group">
                    {{ form.message }}
                </div>
                <input type="submit" class="btn btn-primary pull-left" value="Отправить">
            </form>
        </div>

    </div>

{% endblock %}