{% extends 'base.html' %}

{% load static %}


{% block title %}Home{% endblock %}


{% block ang %}ng-app="App"{% endblock %}


{% block index %}active{% endblock %}


{% block extrahead %}

    {#    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>#}
    <script type="text/javascript" src="{% static 'js/lib/angular.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/angular-resource.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lib/angular-sanitize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
{% endblock %}



{% block content %}
    <div class="main col-sm-10" ng-controller="mainCtrl">
        <div ng-repeat="item in notes | orderBy: '-date_create' track by $index">
            <div class="container">
                <p class="rubric">{$ item.date_create | date:'yyyy-MM-dd HH:mm' $} </p>
                <p><strong>{$ item.title|capitalize $}</strong></p>
                <div>
                    <p ng-bind-html="item.text"></p>
                    <input type="button" class="btn btn-success" value="Read" ng-click="testClick(item)">
                </div>
            </div>

        </div>
    </div>
{% endblock %}