{% extends 'base.html' %}


{% block index %}active{% endblock %}


{% block content %}
    <div class="main">
        {% for note in notes %}
            <div class="container" >
                <h1>{{ note.title }}</h1>
                <h3>{{ note.id }}</h3>
                {{ note.text | truncatechars:20 }}
                 <a href="{% url 'note' note.id %}"><b>Читать полностью</b></a>
                <!-- to view comments -->
                {#                {% for coment in note.comments.all %}#}
{#                    <h4>Comment_title</h4>{{ coment.title }}#}
{#                {% endfor %}#}
            </div>
        {% endfor %}
    </div>
{% endblock %}