{% extends 'base.html' %}


{% block title %}Login{% endblock %}


{% block login %}active{% endblock %}


{% block content %}
    <div class="main col-sm-10">
        <div class="container" >
            <h4>Войдите через социальные аккаунты:</h4>
            <p><a href="{% url 'social:begin' 'facebook' %}"><b> Facebook</b></a></p>
            <p><a href="{% url 'social:begin' 'github' %}"><b> GitHub</b></a></p>
            <p><a href="{% url 'social:begin' 'google-oauth2' %}"><b> Google</b></a></p>
        </div>
    </div>
{% endblock %}