{% extends 'base.html' %}


{% block title %}Login{% endblock %}


{% block login %}active{% endblock %}


{% block content %}
    <div class="main col-sm-10">
        <div class="container">
            <h4>Войдите через социальные аккаунты:</h4>
            <p><a href="{% url 'social:begin' 'facebook' %}"><b> Facebook</b></a></p>
            <p><a href="{% url 'social:begin' 'github' %}"><b> GitHub</b></a></p>
            <p><a href="{% url 'social:begin' 'google-oauth2' %}"><b> Google</b></a></p>
            <p><a href="{% url 'social:begin' 'instagram' %}"><b> Instagram</b></a></p>
            <p><a href="{% url 'social:begin' 'mailru-oauth2' %}"><b> Mail.ru</b></a></p>
            <p><a href="{% url 'social:begin' 'twitter' %}"><b> Twitter</b></a></p>
            <p><a href="{% url 'social:begin' 'vk-oauth2' %}"><b> Vkontakte</b></a></p>
{#            <p><a href="{% url 'social:begin' 'yahoo-oauth2' %}"><b> Yahoo</b></a></p>#}
            <p><a href="{% url 'social:begin' 'yandex-oauth2' %}"><b> Yandex</b></a></p>
        </div>
    </div>
{% endblock %}