{% extends 'base.html' %}
{% load static %}


{% block title %}{{ user.username }} profile{% endblock %}


{% block profile %}active{% endblock %}


{% block content %}
    <div class="main col-sm-10">
        <div class="container">
            {% if user.is_authenticated %}
                <p><b>{{ user.username|capfirst }}</b> profile page</p>
                {% if user.visitor.image_url %}
                    <p><img src="{{ user.visitor.image_url }}" height="200" class="im"></p>
                {% else %}
                    <p><img src="{% static 'images/logo.png' %}" height="200"></p>
                {% endif %}
                <div class="code">
                    <p><b>First name:</b> {{ user.first_name }}</p>
                    <p><b>Last name:</b> {{ user.last_name }}</p>
                    <p><b>Username:</b> {{ user.username }}</p>
                    <p><b>Email:</b> {{ user.email }}</p>
                <hr>
                    {% for comment in user.User.all %}
                        <p>Вы оставили коментарий <i>{{ comment.title }}</i>  к записи <a href="{% url 'note' comment.note.id%}">{{ comment.note.title }}</a></p>
                    {% endfor %}
                </div>
            {% else %}
                <p>Sorry, but you are not authorized</p>
            {% endif %}
        </div>
    </div>
{% endblock %}